<div fxLayout="column" fxLayoutAlign="center">
    <!-- navbar section starts here -->
    <section class="mx-5" fxLayout="row" fxLayoutAlign="space-between">
      <h4 class="my-4">Saqib Zuhair Khan</h4>
      <a class="mt-2" target="_blank"  href="https://drive.google.com/file/d/1j20lAlF78hJaxgJxQtgnUYx3fcxzRm8Q/view?usp=sharing">
        <img class="resume" src="../assets/portfolio.svg"/>
    </a>
    </section>
    <!-- navbar section ends here -->

    <!-- Avatar section starts -->
    <section class="mt-5" fxLayout="column" fxLayoutAlign="start center">
        <h1>Front-end Developer</h1>
        <h5>I design and code beautifully simple things, and I love what I do.</h5>
        <img class="mt-5" src="../assets/myAvatar.svg">
    </section>
    <!-- Avatar section ends-->

    <!-- Intro section starts here-->
    <section class="intro-container" fxLayout="column" fxLayoutAlign="center center">
        <h3>Hi, I am Saqib, Nice to meet you</h3>
        <p class="mt-2">I began my journey as a front end developer since October, 2019
           when I started my first job as a front end developer for Xgrid Inc. I am naturally curious
           and quiet confident and always looking to improve my skills.
        </p>
        <p>
            As a front end developer my job is to bring life to the designs and
            make sure the user experience is Aesthetically pleasing.
        </p>
        <h3>Take a look at my personal github</h3>
        <a href="https://github.com/SaqibZuhayr">
            <img src="../assets/github.svg"/>
        </a>
    </section>
    <!-- Intro section ends here-->

    <!-- Tools and Contact me section starts here-->
    <section class="contact-me mt-4 mb-2" fxLayout="column" fxLayoutAlign="center center">

        <!-- Tools section starts here-->
        <h3 class="mb-4">Development Tools & Technologies:</h3>
        <div class="mb-4" fxLayout="row" fxLayoutGap="10px">
            <img src="../assets/vscode.svg">
            <img src="../assets/git.svg">
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <img src="../assets/angular.svg">
            <img src="../assets/typescript.svg">
            <img src="../assets/html.svg">
            <img src="../assets/css.svg">
        </div>
        <!-- Tools section ends here-->

        <!-- Contact me section starts here-->
        <h5 class="mt-4">Wanna get in touch, Contact Me</h5>
        <div fxFayout="row">
            <a href="mailto:saqibzuhair@gmail.com" target="_top">
                <img src="../assets/email.svg"/>
            </a>
        </div>
        <!-- Contact me section starts here-->

    </section>
    <!-- Tools and Contact me section ends here-->

</div>