<div fxLayout="column" fxLayoutAlign="center">
	<!-- navbar section starts here -->
	<section class="navbar-container mx-5" fxLayout="row" fxLayoutAlign="space-between">
		<h4 class="my-4">Saqib Zuhair Khan</h4>
		<a class="mt-2" target="_blank"
			href="https://drive.google.com/file/d/1j20lAlF78hJaxgJxQtgnUYx3fcxzRm8Q/view?usp=sharing">
			<img class="resume" src="../assets/portfolio.svg" />
		</a>
	</section>
	<!-- navbar section ends here -->

	<!-- Avatar section starts -->
	<section class="avatar-container mt-5" fxLayout="column" fxLayoutAlign="start center">
		<h1>Front-end Developer</h1>
		<h5>I design and code beautifully simple things, and I love what I do.</h5>
		<img class="mt-5" src="../assets/myAvatar.svg">
	</section>
	<!-- Avatar section ends-->

	<!-- Intro section starts here-->
	<section class="intro-container" fxLayout="column" fxLayoutAlign="center center">
		<h3>Hi, I am Saqib, Nice to meet you</h3>
		<p class="mt-2">I began my journey as a front end developer since October, 2019
			when I started my first job as a front end developer for Xgrid Inc. I am naturally curious
			and quiet confident and always looking to improve my skills.
		</p>
		<p>
			As a front end developer my job is to bring life to the designs and
			make sure the user experience is Aesthetically pleasing.
		</p>
		<h3 class="mt-3">Take a look at my personal github</h3>
		<a class="mt-1" href="https://github.com/SaqibZuhayr" target="_blank"> 
			<img src="../assets/github.svg" />
		</a>
	</section>
	<!-- Intro section ends here-->

	<!-- Projects section starts here -->
	<section class="project-container w-100" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="2rem">
		<div class="card" fxFlex="40">
			<div class="card-body">
				<h5 class="card-title">ASK & FREELANCE</h5>
				<h6 class="card-subtitle mb-2 text-muted">A Q/A and freelancing platform</h6>
				<p class="card-text">A platform which integrates freelancing and questioning forum to users. This
					will provide the user an effortless method to ask questions to the professionals in the field. It will
					also provide widespread market for the freelancers who are enthusiastic to work in their field.
					Our application will provide a filtration process to employer through users’ profiles which will
					show their work experience. Employer can hire any user meeting his/her criteria.</p>
					<div class="d-flex tools">
						<p>HTML</p><p>CSS</p><p>ANGULAR</p><p>NODE</p><p>BOOTSTRAP</p><p>MONGODB</p>
					</div>	
				<a href="https://github.com/SaqibZuhayr/askandfreelance" target="_blank" class="card-link">Git Link</a>
			</div>
		</div>
		<div class="card" fxFlex="40">
			<div class="card-body">
				<h5 class="card-title">EventMania</h5>
				<p class="card-text">A portal that allows users to post and view different events,
								  built using C# for the Visual Programming course. The back-end is based on ASP.NET whereas the front-end is a WPF application.
				</p>
				<div class="d-flex tools">
					<p>HTML</p><p>CSS</p><p>.NET</p><p>SQL</p>
				</div>
				<a href="https://github.com/SaqibZuhayr/EventMania-WPF" target="_blank" class="card-link">Git Link</a>
			</div>
		</div>
	</section>
	<!-- Projects section ends here -->


	<!-- Contact me section starts here-->
	<section class="contact-me mt-4 mb-2" fxLayout="row" fxLayoutAlign="center">
		<h5 class="mt-4">Wanna get in touch, Contact Me <a class="pl-2" href="mailto:saqibzuhair@gmail.com" target="_top">
			<img src="../assets/email.svg" />
		</a></h5>
	</section>
	<!-- Contact me section ends here-->

</div>